# Database (Neon Postgres)
POSTGRES_URL="postgresql://neondb_owner:npg_GcWJu0bNT5Hy@ep-noisy-recipe-a16k5p68-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
POSTGRES_PRISMA_URL="postgresql://neondb_owner:npg_GcWJu0bNT5Hy@ep-noisy-recipe-a16k5p68-pooler.ap-southeast-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require"
POSTGRES_URL_NON_POOLING="postgresql://neondb_owner:npg_GcWJu0bNT5Hy@ep-noisy-recipe-a16k5p68.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
POSTGRES_USER="neondb_owner"
POSTGRES_HOST="ep-noisy-recipe-a16k5p68-pooler.ap-southeast-1.aws.neon.tech"
POSTGRES_PASSWORD="npg_GcWJu0bNT5Hy"
POSTGRES_DATABASE="neondb"

# Redis/KV (Upstash)
KV_URL="rediss://default:ATSeAAIncDJiZGUwZWMyMTZkODc0MDBmYTc3N2UxYThmYjE1MGJmZHAyMTM0NzA@awake-badger-13470.upstash.io:6379"
KV_REST_API_URL="https://awake-badger-13470.upstash.io"
KV_REST_API_TOKEN="ATSeAAIncDJiZGUwZWMyMTZkODc0MDBmYTc3N2UxYThmYjE1MGJmZHAyMTM0NzA"
KV_REST_API_READ_ONLY_TOKEN="AjSeAAIgcDLSQp3Kz6Tgf_OdF2LTfXdh37qzqCWx3j9koROo9dKxiA"

# Note: Groq API key is NOT stored here - users provide it in the UI when they login
